nav{
    background-color: #333;
    overflow: hidden;
}

nav .nav-item{
    padding: 14px 20px;
    float: left;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav .nav-item:hover{
    background-color: #575757;
}
