body{
    display: flex;
    flex-direction: row;
}

.sidebar-esquerda,
.sidebar-direita{
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #000;
    padding: 15px;
}

.sidebar-esquerda ul,
.sidebar-direita ul {
    list-style: none;
    padding: 0;
}

.sidebar-esquerda ul li,
.sidebar-direita ul li{
    padding: 10px;
    cursor: pointer;
}
.sidebar-esquerda ul li:hover,
.sidebar-direita ul li:hover{
    background-color: #575757;
}

.hidden-items{
    display: none;
}

.toggle-button{
    background-color: #444;
    border: none;
    color: #FFF;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.toggle-button:hover{
    background-color: #575757;
}

aside.sidebar-direita ul{
    color: #fff;
}

aside.sidebar-direita ul ul{
    padding-left: 16px;
    max-height: 0px;
    color: #fff;
    overflow: hidden;
}

aside.sidebar-direita ul li:hover > ul{
    max-height: 500px;
}

main {
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

main h1{
    text-align: center;
    color: #fff;
}